<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<a class="add_new" href="add">Добавить пост</a>
{% if posts.count > 0 %}
    <h2>Список статей</h2>
    <table>
        <thead><th>Id</th><th>Header</th><th>Content</th><th>Date</th></thead>
        {% for post in posts %}
        <tr>
            <td>{{ post.header }}</td>
            <td>{{ post.content }}</td>
            <td>{{ post.date }}</td>
            <td><a href="edit/{{ post.id }}">Redact</a> | <a href="delete/{{ post.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>